<style type="text/css">
    .woocommerce table.shop_table td:not(.not-center),
    .woocommerce table.shop_table th:not(.not-center) {
        text-align: right;
    }

    .woocommerce table.shop_table td {
        padding: 10px;
    }

</style>
<script type="text/javascript">
    const tax = 20; // Pourcentage
    (function ($) {

        const formatter = new Intl.NumberFormat('de-DE', {
            style: 'currency',
            currency: 'MGA',
            minimumFractionDigits: 0
        });

        $(document).ready(function () {
            reCalculate();


            $('.unit-cost').each((index, element) => {
                let cost = $(element).text();
                cost = parseFloat(cost);
                $(element).text(formatter.format(cost));
            });

            function reCalculate() {
                let total = 0;
                $('.qt-input-changer').each((index, el) => {
                    let data = $(el).data();
                    let itemId = data.itemId;
                    let qt = $(el).val();
                    let subTotal = parseInt(data.unitCost) * parseInt(qt);
                    total += subTotal;
                    $(`#total_${itemId}`).text(formatter.format(subTotal));
                });

                $("#subtotal_ht").text(formatter.format(total));
                var __tax = (total * tax) / 100;
                $('#tax').text(formatter.format(Math.round(__tax)));
                $('#total_ttc').text(formatter.format(__tax + total));
            }

        });
    })(jQuery);
</script>
{% if quotation.position is same as(2) %}
<p style="padding: 10px; background-color: #e23e1d; color: white; font-size: 15px;">
    Demande rejetée
</p>
{% endif %}

{% if quotation.position is same as(3) %}
<p style="padding: 10px; background-color: #5cb85c; color: white; font-size: 15px;">
    Demande accepter
</p>
{% endif %}

{% if quotation.position is not same as (0) %}
    <form name="quotation_item" method="post" action="">
        <h2 class="text-bold">Demande n°{{quotation.order_id}}</h2>
        <table class="woocommerce-orders-table shop_table_responsive shop_table account-orders-table">
            <thead>
                <tr>
                    <th class="woocommerce-orders-table__header not-center">
                        <span class="nobr text-center text-bold">Designation</span>
                    </th>
                    <th class="woocommerce-orders-table__header">
                        <span class="nobr text-bold">Qté</span>
                    </th>
                    <th class="woocommerce-orders-table__header">
                        <span class="nobr text-bold">P.U.HT</span>
                    </th>
                    <th class="woocommerce-orders-table__header">
                        <span class="nobr text-bold">Rem</span>
                    </th>
                    </th>
                    <th class="woocommerce-orders-table__header">
                        <span class="nobr text-bold">Total</span>
                    </th>
                </tr>
            </thead>

            <tbody>
                {% for product in quotation.products %}
                <tr class="">
                    <td style="padding-left: 15px" class="not-center">
                        {{product.get_name()}}
                    </td>
                    <td align="center">

                        <div class="row" style="display: flex;">
                            <div class="col-sm-6" style="margin: auto">
                                <input class="form-control qt-input-changer radius-0" style="min-width: 110px; text-align: center"
                                    name="qt_{{product.item_id}}" value="{{product.count_item}}"
                                    data-item-id="{{product.item_id}}" data-unit-cost="{{product.unit_cost}}" min="0"
                                    max="{{product.item_limit}}" type="number" disabled="disabled">
                            </div>
                        </div>

                    </td>
                    <td>
                        <span class="unit-cost">{{product.unit_cost}}</span>
                    </td>
                    <td>
                        {{product.has_discount ? product.fake_discount : null}}
                    </td>
                    <td>
                        <span id="total_{{product.item_id}}">0</span>
                    </td>
                </tr>
                {% endfor %}
                <tr class="">
                    <td colspan="4">
                        <h5 class="font-strong" style="margin: 0; text-align: left">Sous-total HT</h5>
                    </td>
                    <td style="font-weight: bold">
                        <span class="font-strong" id="subtotal_ht">0</span>
                    </td>
                </tr>
                <tr class="">
                    <td colspan="4">
                        <h5 style="margin: 0; text-align: left">Taxe 20%</h5>
                    </td>
                    <td>
                        <span id="tax">0</span>
                    </td>
                </tr>
                <tr class="" style="background-color: #374387; color: white">
                    <td colspan="4">
                        <h5 class="font-strong" style="margin: 0; text-align: left; color: white">Total TTC</h5>
                    </td>
                    <td>
                        <span class="font-strong" style="font-size: 15px" id="total_ttc">0</span>
                    </td>
                </tr>
            </tbody>
        </table>
        <div>
            {% if quotation.position is not same as(3) and quotation.position is not same as(2) %}
        
                <a href="?componnent=confirmaction&id={{quotation.order_id}}&nonce={{nonce}}&value=1" class="btn btn-theme radius-0"
                    type="submit" {% if quotation.position is same as (0) %} disabled="disabled" {% endif %} >Accepter</a>
                <a href="?componnent=confirmaction&id={{quotation.order_id}}&nonce={{nonce}}&value=0" class="btn btn-danger radius-0"
                    type="submit" {% if quotation.position is same as (0) %} disabled="disabled" {% endif %} >Rejeter</a>
            {% endif %}
            <a href="{{download_url}}?order_id={{quotation.order_id}}" class="btn btn-success radius-0" >Telecharger</a>
        </div>
        
    </form>
{% endif %}