{% set TVA = 20 %}
<style type="text/css">
    .woocommerce table.shop_table td:not(.not-center),
    .woocommerce table.shop_table th:not(.not-center) {
        text-align: right;
    }

    .woocommerce table.shop_table td {
        padding: 10px;
    }
</style>

{% if quotation.position is same as(2) %}
<p style="padding: 10px; background-color: #e23e1d; color: white; font-size: 15px;">
    Demande rejetée
</p>
{% endif %}

{% if quotation.position is same as(3) %}
<p style="padding: 10px; background-color: #5cb85c; color: white; font-size: 15px;">
    Demande acceptée
</p>
{% endif %}

{% if quotation.position is not same as (0) %}
<form name="quotation_item" method="post" action="">
    <h2 class="text-bold">Demande n°{{quotation.order_id}}</h2>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">N°</th>
                <th scope="col">DATE</th>
                <th scope="col">REFERENCE</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">DW{{order.get_id()}}</th>
                <td>{{order.get_date_created}}</td>
                <td>REF{{order.get_id()}}</td>
            </tr>
        </tbody>
    </table>
    <div style="margin-top: 40px"></div>
{% set TOTAL = (TVA * order.get_total_net()) / 100 + order.get_total_net() %}
{% set TOTAL_NET = (TVA * order.get_total_net()) / 100 %}
    <table class="woocommerce-orders-table shop_table_responsive shop_table account-orders-table">
        <thead>
            <tr>
                <th class="woocommerce-orders-table__header not-center">
                    <span class="nobr text-center text-bold">Designation</span>
                </th>
                <th class="woocommerce-orders-table__header">
                    <span class="nobr text-bold">Qté</span>
                </th>
                <th class="woocommerce-orders-table__header">
                    <span class="nobr text-bold">P.U.HT</span>
                </th>
                <th class="woocommerce-orders-table__header">
                    <span class="nobr text-bold">Rem</span>
                </th>
                </th>
                <th class="woocommerce-orders-table__header">
                    <span class="nobr text-bold">Total</span>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for product in quotation.products %}
            <tr class="">
                <td style="padding-left: 15px" class="not-center">
                    {{product.get_name()}}
                </td>
                <td align="center">
                    <div class="row" style="display: flex;">
                        <div class="col-sm-6" style="margin-left: auto">
                            <input class="form-control qt-input-changer radius-0"
                                style="min-width: 110px; text-align: center" name="qt_{{product.item_id}}"
                                value="{{product.count_item}}" data-item-id="{{product.item_id}}"
                                data-unit-cost="{{product.get_freezone_price()}}" min="0" max="{{product.item_limit}}"
                                type="number" disabled="disabled">
                        </div>
                    </div>
                </td>
                <td class="currency">
                    {{ product.get_freezone_price() }}
                </td>
                <td>
                    {% if product.discount_type is same as(0) %} - {% else %} {{product.discount}}% {% endif %}
                </td>
                <td class="currency">
                    {{product.get_freezone_subtotal()}}
                </td>
            </tr>
            {% endfor %}

            {% for product in quotation.products_zero %}
            <tr class="">
                <td style="padding-left: 15px" class="not-center">
                    {{product['name']}}
                </td>
                <td align="center">-</td>
                <td class="">-</td>
                <td>-</td>
                <td>Non disponible</td>
            </tr>
            {% endfor %}
        </tbody>
        {% if TOTAL > 0 and TOTAL > define.min_cost_with_transport%}
        <tfoot>
            <tr style="background-color: #fcff21;">
                <th colspan="4" class="pl-4 text-left">Frais de transport</th>
                <th class="currency">{{define.cost_transport}}</th>
            </tr>
        </tfoot>
        {% endif %}
    </table>

    <div style="margin-top: 40px"></div>
    
    {% if not TOTAL == 0 %}
    <table class="table table-bordered ">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Total HT Brut</th>
                <th scope="col">Total Net</th>
                <th scope="col">TVA {{ TVA }}%</th>
                <th scope="col">Montant Taxe</th>
                <th scope="col">NET A PAYER</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="currency">{{order.get_total_ht()}}</td>
                <td class="currency">{{order.get_total_net()}}</td>
                <td>{{ TVA }}%</td>
                <td class="currency">{{ TOTAL_NET }}</td>
                <td>
                    <span style="font-size: 14px" class="currency">{{ TOTAL }}</span>
                </td>
            </tr>
        </tbody>
    </table>
    {% endif %}
    <div>
        {% if quotation.position is not same as(3) and quotation.position is not same as(2) %}
        {% if not TOTAL == 0 %}
        <a href="?componnent=confirmaction&id={{quotation.order_id}}&nonce={{nonce}}&value=1"
            class="btn btn-theme radius-0" type="submit" {% if quotation.position is same as (0) %} disabled="disabled"
            {% endif %}>Accepter</a>
        <a href="?componnent=confirmaction&id={{quotation.order_id}}&nonce={{nonce}}&value=0"
            class="btn btn-danger radius-0" type="submit" {% if quotation.position is same as (0) %} disabled="disabled"
            {% endif %}>Rejeter</a>
        {% endif %}
        {% endif %}
        <a href="{{download_url}}?order_id={{quotation.order_id}}" class="btn btn-success radius-0">Telecharger</a>
    </div>

</form>
{% endif %}