<style type="text/css">
    .woocommerce table.shop_table td {
        padding: 5px !important;
    }
</style>
<table class="woocommerce-orders-table woocommerce-MyAccount-orders shop_table_responsive shop_table  my_account_orders account-orders-table">
    <thead>
        <tr>
            <th class="woocommerce-orders-table__header woocommerce-orders-table__header-order-number"><span class="nobr">Demande</span>
            </th>
            <th class="woocommerce-orders-table__header woocommerce-orders-table__header-order-date"><span
                    class="nobr">Date</span></th>
            <th class="woocommerce-orders-table__header woocommerce-orders-table__header-order-status"><span class="nobr">État</span>
            </th>
            <th class="woocommerce-orders-table__header woocommerce-orders-table__header-order-total"><span class="nobr">Total</span>
            </th>
            <th class="woocommerce-orders-table__header woocommerce-orders-table__header-order-actions"><span class="nobr">Actions</span>
            </th>
        </tr>
    </thead>

    <tbody>
        <tr class="">
            <td class="ml-4" data-title="Commande">
                <a href="http://localhost/freezone/my-account-2/view-order/1024/">
                    n°1024 </a>

            </td>
            <td class="woocommerce-orders-table__cell woocommerce-orders-table__cell-order-date" data-title="Date">
                <time datetime="2019-04-25T19:08:18+00:00">25 avril 2019</time>

            </td>
            <td class="woocommerce-orders-table__cell woocommerce-orders-table__cell-order-status" data-title="État">
                En cours
            </td>
            <td class="woocommerce-orders-table__cell woocommerce-orders-table__cell-order-total" data-title="Total">
                En attente
            </td>
            <td class="woocommerce-orders-table__cell woocommerce-orders-table__cell-order-actions" data-title="Actions">
                <a href="http://localhost/freezone/my-account-2/view-order/1024/" class="btn btn-sm">Voir</a>
            </td>
        </tr>
    </tbody>
</table>