<style type="text/css">
    .woocommerce table.shop_table td:not(.not-center),
    .woocommerce table.shop_table th:not(.not-center) {
        text-align: center;
    }

    .woocommerce table.shop_table td {
        padding: 5px;
    }
</style>
<script type="text/javascript">
    let METADATA;
    const tax = 20;
    (function ($) {

        const formatter = new Intl.NumberFormat('de-DE', {
            style: 'currency',
            currency: 'MGA',
            minimumFractionDigits: 0
        });

        $(document).ready(function () {
            METADATA = _.flatten({{quotation.meta_data|raw}});
            reCalculate();

            let inputChangers = $('.qt-input-changer');
            inputChangers.each((index, element) => {
                $(element).on('change', e => {
                    reCalculate();
                });
            });

            $('.unit-cost').each((index, element) => {
               let cost = $(element).text();
               cost = parseFloat(cost);
               $(element).text(formatter.format(cost));
            });

            function reCalculate() {
                let total = 0;
                $('.qt-input-changer').each((index, el) => {
                    let data = $(el).data();
                    let itemId = data.itemId;
                    let qt = $(el).val();
                    let subTotal = parseInt(data.unitCost) * parseInt(qt);
                    total += subTotal;
                    $(`#total_${itemId}`).text(formatter.format(subTotal));
                });

                $("#subtotal_ht").text(formatter.format(total));
                var __tax = (total * tax) / 100;
                $('#tax').text(formatter.format(Math.round(__tax)));
                $('#total_ttc').text(formatter.format(__tax + total));
            }

        });
    })(jQuery);
</script>
<form name="quotation_item" method="post" action="">
    <table class="woocommerce-orders-table shop_table_responsive shop_table  my_account_orders account-orders-table">
        <thead>
            <tr>
                <th class="woocommerce-orders-table__header not-center">
                    <span class="nobr text-center">Article</span>
                </th>
                <th class="woocommerce-orders-table__header">
                    <span class="nobr">Quantité</span>
                </th>
                <th class="woocommerce-orders-table__header">
                    <span class="nobr">Prix unitaire</span>
                </th>
                </th>
                <th class="woocommerce-orders-table__header">
                    <span class="nobr">Total</span>
                </th>
            </tr>
        </thead>

        <tbody>
            {% for product in quotation.products %}
            <tr class="">
                <td style="padding-left: 15px" class="not-center">
                    {{product.get_name()}}
                </td>
                <td align="center">

                    <div class="row" style="display: flex;">
                        <div class="col-sm-6" style="margin: auto">
                            <input class="form-control qt-input-changer" style="width: 110px;" name="qt_{{product.item_id}}"
                                   value="{{product.count_item}}" data-product-id="{{product.get_id()}}"
                                   {% if position == 3 %}disabled="disabled"{% endif %}
                                   data-item-id="{{product.item_id}}" data-unit-cost="{{product.unit_cost}}" min="0"
                                   max="{{product.item_limit}}" type="number">
                        </div>
                    </div>

                </td>
                <td>
                    <span class="unit-cost">{{product.unit_cost}}</span>
                </td>
                <td>
                    <span id="total_{{product.item_id}}">0</span>
                </td>
            </tr>
            {% endfor %}

            <tr class="">
                <td style="padding-left: 15px"></td>
                <td></td>
                <td>
                    <h5 class="font-strong" style="margin: 0; text-align: left">Sous-total HT</h5>
                </td>
                <td style="font-weight: bold">
                    <span class="font-strong" id="subtotal_ht">0</span>
                </td>
            </tr>
            <tr class="">
                <td style="padding-left: 15px"></td>
                <td></td>
                <td>
                    <h5  style="margin: 0; text-align: left">Taxe 20%</h5>
                </td>
                <td >
                    <span  id="tax">0</span>
                </td>
            </tr>
            <tr class="">
                <td style="padding-left: 15px"></td>
                <td></td>
                <td>
                    <h5 class="font-strong" style="margin: 0; text-align: left">Total TTC</h5>
                </td>
                <td style="font-weight: bold">
                    <span class="font-strong" id="total_ttc">0</span>
                </td>
            </tr>
        </tbody>
    </table>
    {% if position is not same as(3) %}
    <div>
        <button class="btn btn-warning" type="submit">Valider ma demande</button>
    </div>
    {% endif %}
</form>