<style type="text/css">
    .woocommerce table.shop_table td,
    .woocommerce table.shop_table th {
        text-align: center;
    }
    .woocommerce table.shop_table td {
        padding: 5px;
    }
</style>
<table class="woocommerce-orders-table shop_table_responsive shop_table  my_account_orders account-orders-table">
    <thead>
    <tr>
        <th class="woocommerce-orders-table__header ">
            <span class="nobr">Article</span>
        </th>
        <th class="woocommerce-orders-table__header">
            <span class="nobr">Quantité</span>
        </th>
        <th class="woocommerce-orders-table__header">
            <span class="nobr">En stock</span>

        </th><th class="woocommerce-orders-table__header">
            <span class="nobr">Prix</span>
        </th>
    </tr>
    </thead>

    <tbody>
    {% for product in quotation.products %}
    <tr class="">
        <td style="padding-left: 15px" data-title="Commande">
            {{product.get_name()}}
        </td>
        <td class="woocommerce-orders-table__cell woocommerce-orders-table__cell-order-date" data-title="Date">
            <form name="quotation_item">
                <div class="row" style="display: flex;">
                    <div class="col-sm-6" style="margin: auto">
                        <input class="form-control" value="{{product.count_item}}"
                               data-count="{{product.count_item}}"
                               data-count-limit="{{product.item_limit}}"
                               data-product="{{product.get_id()}}"
                               date-order="{{quotation.order_id}}" type="number" name="item" >
                    </div>
                </div>
            </form>

        </td>
        <td class="woocommerce-orders-table__cell woocommerce-orders-table__cell-order-status" data-title="État">
            {{product.item_limit}}
        </td>
        <td class="woocommerce-orders-table__cell woocommerce-orders-table__cell-order-status" data-title="État">
            {{product.item_limit}}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>