<form method="post" action="" role="form" >
    <div class="form-group form-row form-row-wide">
        <h4>{{article.name}}</h4>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group form-row form-row-wide">
                <label for="reg_price">Prix <span class="required">*</span></label>
                <input type="number" class="input-text form-control" placeholder="" name="price" id="reg_price" required="" value="{{article.regular_price}}">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group form-row form-row-wide ">
                <label for="reg_stock">Stock disponible <span class="required">*</span></label>
                <input type="number" class="input-text form-control" placeholder="" name="stock" id="reg_stock" required="" value="{{article.total_sales}}">
            </div>
        </div>
    </div>

    <div class="ibox-footer">
        <div>
            <button type="submit" class="btn btn-success">Enregistrer</button>
            <a href="{{back_link}}" class="btn btn-default">Annuler</a>
        </div>
    </div>

</form>