<style type="text/css">
    .woocommerce table.shop_table td {
        padding: 5px 13px;
    }
</style>
<script type="text/javascript">
    jQuery(function($) {
        const formatter = new Intl.NumberFormat('de-DE', {
            style: 'currency',
            currency: 'MGA',
            minimumFractionDigits: 0
        });

        $('.price').each((index, element) => {
            let cost = $(element).text();
            cost = parseFloat(cost);
            $(element).text(formatter.format(cost));
        });
    });
</script>
<div class="">
    <div class="flexbox" style="margin-bottom: 20px">
        <div class="flexbox">
            <a class="btn btn-primary btn-air" href="{{new_article_link}}" >Ajouter un article</a>
        </div>
    </div>
</div>
<table class="woocommerce-orders-table woocommerce-MyAccount-orders shop_table_responsive shop_table  my_account_orders account-orders-table">
    <thead>
    <tr>
        <th class="woocommerce-orders-table__header woocommerce-orders-table__header-order-number"><span class="nobr">DESIGNATION</span>
        </th>
        <th class="woocommerce-orders-table__header woocommerce-orders-table__header-order-date"><span
                class="nobr">PRIX</span></th>
        <th class="woocommerce-orders-table__header woocommerce-orders-table__header-order-date"><span
                class="nobr">QTÉ</span></th>
        <th class="woocommerce-orders-table__header woocommerce-orders-table__header-order-status"><span class="nobr">DATE DE REVISION</span>
        </th>
        <th class="woocommerce-orders-table__header woocommerce-orders-table__header-order-actions"><span class="nobr"></span>
        </th>
    </tr>
    </thead>

    <tbody>
    {% for product in products %}
    <tr class="">
        <td style="padding-left: 15px" data-title="Commande">
            <a href="{{product.url}}" target="_blank">{{product.name}}</a>
        </td>
        <td class="woocommerce-orders-table__cell woocommerce-orders-table__cell-order-date" data-title="Price">
            <span class="price" style="font-weight: bolder">{{product.regular_price}}</span>
        </td>
        <td class="woocommerce-orders-table__cell woocommerce-orders-table__cell-order-date" data-title="Price" style="text-align: center">
            {{product.total_sales}}
        </td>
        <td class="woocommerce-orders-table__cell woocommerce-orders-table__cell-order-status" data-title="État">
            {{product.date_review}}
        </td>
        <td class="woocommerce-orders-table__cell woocommerce-orders-table__cell-order-actions" data-title="Actions">
            <a href="?componnent=edit&id={{product.ID}}" class="btn btn-sm"><i class="ti-pencil-alt"></i> </a>
            <a href="?componnent=trash&id={{product.ID}}" class="btn btn-sm"><i class="ti-trash"></i></a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>