{% set TVA = 20 %}
<button class="btn btn-theme radius-0" id="download-btn">Telecharger</button>
<div style="margin-top: 40px"></div>
<div class="pdf-document" id="pdf-document">
    <table class="table">
        <tbody>
            <tr>
                <td rowspan="2" align="top">
                    <img width="250" src="{{hlp.theme_url}}/assets/img/logo.png" />
                    <p>Adresse: Androhibe BP 7595,<br>
                        Telma Fixe: +261 20 24 292 31<br>
                        Mobile Telma : +261 34 86 319 90<br>
                        Mobile Orange : +261 32 53 408 03<br>
                        Mobile Airtel : +261 33 82 589 08<br>
                        E-mail: commercial@freezonemada.com</p>
                    <ul>
                        <li>STAT : {{'stat' | wpoption}}</li>
                        <li>NIF : {{'nif' | wpoption}}</li>
                        <li>RC {{'rc' | wpoption}}</li>
                        <li>BMOI {{'bmoi' | wpoption}}</li>
                        <li>CIF : {{'cif' | wpoption}}</li>
                    </ul>

                </td>
                <td height=100></td>
            </tr>
            <tr>
                <td valign=top>
                    <h4 style="text-transform: capitalize">{{ customer.get_meta('company_name', true) }}</h4>

                    {% if not customer.meta_exists('company_name') or customer.get_meta('company_name', true) is empty %}
                    <h6 style="margin-bottom: 0px; padding-bottom: 0px">
                        {{ customer.get_billing_first_name() }} {{customer.get_billing_last_name() }}
                    </h6>

                    {% endif %}
                    <p>{{ customer.get_meta('address', true) }} </p>

                    <ul>
                        {% if customer.meta_exists('stat') %}
                        <li>STAT : {{ customer.get_meta('stat', true) }}</li>
                        {% endif %}

                        {% if customer.meta_exists('nif') %}
                        <li>NIF : {{ customer.get_meta('nif', true) }}</li>
                        {% endif %}

                        {% if customer.meta_exists('rc') %}
                        <li>RC : {{ customer.get_meta('rc', true) }}</li>
                        {% endif %}

                        {% if customer.meta_exists('cif') %}
                        <li>CIF : {{ customer.get_meta('cif', true) }}</li>
                        {% endif %}

                        <!-- Pour les particulier -->
                        {% if customer.meta_exists('cin') %}
                        <li>CIN : {{ customer.get_meta('cin', true) }}</li>
                        {% endif %}
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
    <h2 class="mb-4">DEVIS</h2>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">N°</th>
                <th scope="col">DATE</th>
                {# <th scope="col">REFERENCE</th> #}
                <th scope="col">Géré par : </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">DW{{order.get_id()}}</th>
                <td>{{order.get_date_created}}</td>
                {# <td>REF{{order.get_id()}}</td> #}
                <td>
                    {% if responsible is not same as(null) %}
                        {{responsible.first_name}}
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
    <div style="margin-top: 40px"></div>
    {% set TOTAL = (TVA * order.total_net()) / 100 + order.total_net() %}
    {% set TOTAL_NET = (TVA * order.total_net()) / 100 %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col" width=315>Designation</th>
                <th scope="col">Qté</th>
                <th scope="col">P.U.HT</th>
                <th scope="col">Rem</th>
                <th scope="col">Montant HT</th>
            </tr>
        </thead>
        <tbody>
            {% for line in items %}
            <tr class="">
                <td style="padding-left: 15px" class="not-center"> {{line.name}} </td>
                <td align="center"> <span style="text-align: center">{{line.qty_UI() | raw}}</span> </td>
                <td> <span class="currency">{{line.price_fn() is same as(0) ? '-' : line.price_fn()}}</span></td>
                <td>
                    {{line.discount_type is same as(0) ? '-' : item.discount}}
                    {{line.discount_type is same as(0) ? '' : ' %'}}
                </td>
                <td class="currency">
                    {{line.subtotal_net_fn() is same as(0) ? "Non disponible" : line.subtotal_net_fn()}}< </td> </tr>
                        {% endfor %} {% for item in items_zero %} <tr>
                <td>{{item['name']}}</td>
                <td align="center">-</td>
                <td align="center">-</td>
                <td align="center">-</td>
                <td align="center">-</td>
                <td>Non disponible</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            {% if TOTAL > 0 and TOTAL < define.min_cost_with_transport%}
            <tr style="background-color: #fcff21;">
                <th colspan="4" class="pl-4 text-left">Frais de transport</th>
                <th class="currency">{{define.cost_transport}}</th>
            </tr>
            {% endif %}
            <tr style="background-color: #ebedee;">
                <th colspan="4" class="pl-4">
                    <small>*Cet article est en rupture de stock chez nous, nous vous tiendrons informé</small><br>
                    <small>** Cet article est épuisé chez nous mais disponible sur commande</small>
                </th>
                <th></th>
            </tr>
        </tfoot>
    </table>

    <div style="margin-top: 40px"></div>
    {% if not TOTAL == 0 %}
    <table class="table table-bordered ">
        <thead>
            <tr>
                <th scope="col">Total HT Brut</th>
                <th scope="col">Total Net</th>
                <th scope="col">TVA {{TVA}}%</th>
                <th scope="col">Montant Taxe</th>
                <th scope="col">NET A PAYER</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="currency">{{order.total_ht()}}</td>
                <td class="currency">{{order.total_net()}}</td>
                <td>{{TVA}}%</td>
                <td class="currency">{{ TOTAL_NET }}</td>
                <td>
                    <span style="font-size: 14px" class="currency">{{ TOTAL }}</span>
                </td>
            </tr>
        </tbody>
    </table>
    {% endif %}
</div>